/* src/components/NotificationBell.css */
.notification-bell {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.bell-icon {
  position: relative;
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #FA4032;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #FEF3E2;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 350px;
  z-index: 1;
  padding: 10px;
}

.dropdown h6 {
  margin-top: 0;
  color: #FA812F;
}

.dropdown-item {
  padding: 8px 12px;
  border-bottom: 1px solid #FAB12F;
  font-size: 14px;
  color: #FA4032;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover {
  background-color: #FAB12F;
  color: white;
}
